@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Have to delete these 4, first get rid of their references in the code, change to bottom ones */
  --navbar-color: #093C5D;
  --foreground-color: black;
  --background-color: #F7FAFA;
  --link-color: #32a287;


  --honeydew: #6FD1D7;
  --light-green: #3B7597;
  --green: #3B7597;
  --dark-green: #093C5D;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #B3C8CF;
    --background-start-color: #B3C8CF;
    --background-end-color: #B3C8CF;
  }
} */

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
